 <div class="container m-5">
  <h1 class="text-center"><%= @list.name %></h1>
    <div class='col-4'> <%= link_to "Delete List", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this film from your list ?"}, class: "btn btn-primary" %></div>

  <p class="text-center text-align">bookmarks</p>

    <div class="card " style="width : 100%">
      <% @list.movies.each do |movie| %>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <div class='col-4'> <%= bookmark.comment %></div>
        <div class='col-4'> <%= movie.title %></div>
        <div class='col-4'> <%= movie.rating %> / 10 </div>
        <div class='col-4'> <%= movie.overview %></div>
        <div class='col-4'> <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this film from your list ?"}, class: "btn btn-primary" %></div>
        <img src="<%= movie.poster_url %>" width="800" alt="Example image" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
      <% end %>
    </div>



<button> <%= link_to 'New Bookmark', new_list_bookmark_path(@list),  class: "btn btn-primary" %></button>
