 <div class="container m-5">
  <h1 class="text-center"><%= @list.name %></h1>

  <p class="text-center text-align">bookmarks</p>

  <div class='row text-center'>
    <div class="col-8">
      <% @list.bookmarks.each do |b| %>
        <div class='col-4'> <%= b.comment %></div>
        <div class='col-4'> <%= b.movie.title %></div>
        <div class='col-4'> <%= b.movie.rating %> / 10 </div>
        <div class='col-4'> <%= b.movie.overview %></div>
        <div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
          <div>
            <div class="uk-overflow-hidden">
              <img src="<%= b.movie.poster_url %>" width="800" alt="Example image" uk-scrollspy="cls: uk-animation-kenburns; repeat: true">
            </div>
          </div>
        </div>
        <% end %>
    </div>
  </div>

<button class="btn btn-primary btn-color=white"> <%= link_to 'New Bookmark', new_list_bookmark_path(@list) %></button>
